.header__title, .header__subtitle, .two-columns__brief,.two-columns__paragraph, .section-title, .section-subtitle,
 .table, .table__heading, .table__text, .feynman__title, .feynman__subtitle, .footer__column-heading, .footer__list, .footer__author {
  margin: 0;
}

/* .cards__title, .cards__description, .khan__author, .khan__title, .khan__quote, .khan__quote-author, .khan__quote-author-subline {
  margin: 0;
} */

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}