.header__title, .header__subtitle, .two-columns__brief,.two-columns__paragraph, .section-title, .section-subtitle,
 .table, .table__heading, .table__text, .feynman__title, .feynman__subtitle, .footer__column-heading, .footer__list, .footer__author {
  margin: 0;
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  background-color: #F2F2F2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 64px;
  justify-content: center;
  /* parameters for the header section */
}
.logo_place_header {
  width: 154px;
  height: 31px;
  position: absolute;
  z-index: 2;
  top: 30px;
}
.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  position: relative;
  z-index: 2;
}
.header__subtitle{
  position: absolute;
  width: 388px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}
.header__link {
  text-decoration: none;
  color: #2F80ED;
}
.header__main-illustration {
position: absolute;
right: 0px;
bottom: 0px;
width: 756px;
height: 608px;
z-index: 1;
}
/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  background-color: #2F80ED;
}

/* parameters for the description section */

.description {
  padding: 100px 0px;
}


.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: white;
}
.two-columns__brief {
  width: 175px;
  flex-direction: column;
  align-self: stretch;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__main-text :first-child {
  margin-top: 0px; 
}
.two-columns__main-text :last-child {
  margin-bottom: 0px; 
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0px;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/* parameters for the digits section */

.digits {
  background-color: white;
  padding-bottom: 100px;
}
.section-title {
  width: 60%;
  text-align: center;
  margin: auto;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: 20px auto 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  flex-wrap: wrap;
  display: flex;
  width: 1100px;
  padding: 0;
  margin: 0px auto 0px auto;
  justify-content: space-between;
}
.table__cell {
  list-style: none;
  width: 250px;
  margin-top: 60px;
  
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}
/* parameters for the feynman section */


.feynman {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 790px;
  background-color: #F2F2F2;
  z-index: 0;
  padding-top: 100px;
}
.feynman__image {
  position: absolute;
  z-index: -1;
  width: 867px;
  height: 637px;
  bottom: 0px;
  left: 0px;
}
.feynman__title {
  width: 775px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}
.feynman__subtitle {
  margin: 70px auto 0px auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2F80ED;
}

/* parameters for the kaufman section */

.kaufman {
  background-color: #1F1F1F;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 0;
  padding: 90px 0px;

}


.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  z-index: -1;
  top: 0px;
  right: -124px;
}

/* parameters for the footer section */


.footer {
  background-color: #1F1F1F;
  min-height: 350px;
  padding: 60px 0px 40px 0px;
  display: flex;
  box-sizing: border-box;
}
.footer__columns {
  width: 90%;
  display: flex;
  margin: 0px auto;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}
.footer__column {
  flex-direction: column;
  justify-content: space-between;
  color: white;
  
}
.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 18px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__list {
  padding: 0;
  list-style: none;
}

.footer__list-item {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal; 
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}



/* including elements with key-value modifiers */

.table_theme_dark {
  margin-top: 0px;
  justify-content: space-between;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.section-title_theme_dark {
  color: #F2F2F2;
}
.section-subtitle_theme_dark {
  color: #F2F2F2;
}
